@model BusinessLayer.Models.Outbound.ProductOutbound

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: deepskyblue">Product Details</h1>

<div class="row">
    <div class="col-md-8">
        <hr />
        <dl class="row" style="border: 2px solid grey;">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.BookingId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.BookingId)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
        <div class="picture-frame">
            <img src="@Model.ImageUrl" alt="Product Image" class="img-fluid" style="max-width: 250px; height: auto; border: 2px solid grey;" />
        </div>
    </div>
</div>
